{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div style="height: 40vh; display:flex; flex-direction: column; justify-content: center; align-items: center;">
    <form action="{{ path('app_login') }}" method="post">
        <h3>CONNEXION</h3><br/>
        <label for="username">Login:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required autofocus>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" class="form-control" required>
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-success mt-3" type="submit">login</button>
    </form>
    </div>
{% endblock %}